<h1><%= @restaurant.name %></h1>

<ul>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number %></li>
<li><%= @restaurant.category %></li>
</ul>

<%= link_to "Return to Index", restaurants_path %>

<%= link_to "Edit the restaurant", edit_restaurant_path %>

<%= link_to "Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content%> ---- <%= review.rating%></li>
<% end %>
</ul>
